*{
    margin:0;
}
#objetivos{
    background-color: #99B23C;
    width: 100vw;
    height: 400px;
}

#projeto, #transicao{
    background-color: #FAFAEE;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    font-size: 20pt; 
}

.caixaDoProjeto{
    display: flex;
    justify-content: center; 
}
.textoProjeto{
    width: 40vw;
    text-align: justify;   
}
.textoProjeto p{
    margin-top: 40px;
}
.folha{
    width: 20vw; 
}

.folha img{
    float: right;
    margin-top: 35%;
    
}

.caixaDaTransicao{
    display: flex;
    justify-content: center; 
}
.textoTransicao{
    width: 38vw;
    text-align: justify;   
}
.textoTransicao p{
    margin-top: 40px;
    margin-left: 40px;
}
.caixaDaTransicao h1{
    text-align: end;
}
.frigideira{
    width: 20vw; 
}

.frigideira img{
    transform: rotate(-10deg);
    margin-top: 40%;
    /* animation: mexer 1s step-end infinite;
    */
}
/*
@keyframes mexer{
    0%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    70%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(15deg);
    }
} */

