*{
    margin:0;
}
#projeto, #transicao{
    background-color: #FAFAEE;
    width: 100vw;
    height: 600px;

}
#objetivos{
    background-color: #99B23C;
    width: 100vw;
    height: 400px;
}
#projeto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    font-size: 20pt; 
}
#transicao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    align-items: flex-end;
    font-size: 20pt; 
}  

#projeto div, #transicao div{       
    width: 50vw;
}
#projeto h1, #transicao h1{
    font-size: 40pt;
}
