*{
    margin:0;
}
#projeto, #transicao{
    background-color: #FAFAEE;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    font-size: 20pt; 


}
#objetivos{
    background-color: #99B23C;
    width: 100vw;
    height: 400px;
}

.caixaDoProjeto{
    display: flex;
    justify-content: center; 
}
.textoProjeto{
    width: 40vw;
    text-align: justify;   
}
.textoProjeto p{
    margin-top: 40px;
}
.folha{
    width: 20vw; 
}

.folha img{
    float: right;
    margin-top: 35%;
}


