body{
    display:flex;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    flex-direction: column;
    overflow-x: hidden;
}


legend{
    font-weight: 520;
    margin-top: 7px;
    
    
}
header{
    background-color: #FAFAEE;
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: space-between;

}
.logo img{
    width: 600px;
}
.logo{
    padding: 30px;
    margin-left: 50px;
    margin-top:9px; 
    width: 30vw;
}
.caixaBotoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
#pesquisar{
    display: flex;
    align-content: center;

}
.botoesIniciais{
    width: 45px;
    height: 45px;
   
}
#botoes{
    display: flex;
    width: 20vw;
    
}


#botoes div:hover{
    background-color:#CC5D4F;
    
}

#botoes div{
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    
    
}
input{
    border-radius: 5px;
    margin: 10px 0 0 10px;
    border:0.5px solid black;
    height: 15px;
    width: 150px;

}
#background{
    background-image: url(img/banner.png);
    background-size: 100vw;
    height: 250px;
    display: flex;
    width: 100vw;
    align-items: center;
    
}

.fraseEfeito{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fraseEfeito h1{
   font-size: 35pt;
   font-weight: 400;
}
#caixa1{
    background-color: #FAFAEE;
    width: 100vw;
    height: 200px;
}
