body{
        font-family: 'Dosis', sans-serif;
        flex-direction: column;
        margin: 0;
        overflow-x: hidden;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    background-color: #F0FFBA;

}
header img{

        height: 50px;
        border-color: #CC5D4F;
        border-radius: 50%;
}


.section1 h1{
        color: white;
        font-size: 30pt;

}
.section1{
    background-color: #CC5D4F;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;    
}

.section2{
        background-color: #F0FFBA;
        margin:0;
        display:flex;
        justify-content: center;
        
}

.div1{
        background-color: white;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        
}
.div2{  
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}


.div2 img{

        height: 250px;
}

.div3{  
        margin-top: 20px;
        display:flex;
        align-items: center;
        flex-direction: column;
        width: 400px;
}

.div3 h2{
        font-size: 15pt;

}



